In [333]:
import pandas as pd

# Cargar los datasets de pacientes con cancer de mama
dataset_mama_1 = pd.read_csv("Datasets/Breast/brca_metabric_clinical_data.tsv", sep="\t")
dataset_mama_2 = pd.read_csv("Datasets/Breast/brca_tcga_clinical_data.tsv", sep="\t")
dataset_mama_3 = pd.read_csv("Datasets/Breast/brca_tcga_pan_can_atlas_2018_clinical_data.tsv", sep="\t")
dataset_mama_4 = pd.read_csv("Datasets/Breast/breast_ink4_msk_2021_clinical_data.tsv", sep="\t")
dataset_mama_5 = pd.read_csv("Datasets/Breast/breast_msk_2025_clinical_data.tsv", sep="\t")

# Cargar los datasets de pacientes con cancer de pulm√≥n
dataset_pulmon_1 = pd.read_csv("Datasets/Lung/luad_mskcc_2023_met_organotropism_clinical_data.tsv", sep="\t")
dataset_pulmon_2 = pd.read_csv("Datasets/Lung/lung_msk_mind_2020_clinical_data.tsv", sep="\t")
dataset_pulmon_3 = pd.read_csv("Datasets/Lung/lusc_tcga_pan_can_atlas_2018_clinical_data.tsv", sep="\t")
dataset_pulmon_4 = pd.read_csv("Datasets/Lung/nsclc_tcga_broad_2016_clinical_data.tsv", sep="\t")
dataset_pulmon_5 = pd.read_csv("Datasets/Lung/nsclc_ctdx_msk_2022_clinical_data.tsv", sep="\t")

# Cargar los datasets de pacientes con cancer de colon
dataset_colon_1 = pd.read_csv("Datasets/Colorectal/coadread_tcga_clinical_data.tsv", sep="\t")
dataset_colon_2 = pd.read_csv("Datasets/Colorectal/coadread_tcga_pan_can_atlas_2018_clinical_data.tsv", sep="\t")
dataset_colon_3 = pd.read_csv("Datasets/Colorectal/crc_eo_2020_clinical_data.tsv", sep="\t")
dataset_colon_4 = pd.read_csv("Datasets/Colorectal/crc_msk_2017_clinical_data.tsv", sep="\t")
dataset_colon_5 = pd.read_csv("Datasets/Colorectal/bowel_colitis_msk_2022_clinical_data.tsv", sep="\t")

# Unir todos los datasets
all_data = pd.concat([dataset_mama_1, dataset_mama_2, dataset_mama_3, dataset_mama_4, dataset_mama_5, 
                     dataset_pulmon_1, dataset_pulmon_2, dataset_pulmon_3, dataset_pulmon_4, dataset_pulmon_5,
                     dataset_colon_1, dataset_colon_2, dataset_colon_3, dataset_colon_4, dataset_colon_5], ignore_index=True)

In [344]:
dataset_pulmon_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653 entries, 0 to 2652
Data columns (total 94 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Study ID                                      2653 non-null   object
 1   Patient ID                                    2653 non-null   object
 2   Sample ID                                     2653 non-null   object
 3   Adjuvant                                      641 non-null    object
 4   Adjuvant Chemotherapy                         880 non-null    object
 5   Adjuvant Immunotherapy                        880 non-null    object
 6   Adjuvant Targeted                             880 non-null    object
 7   Adjuvant Therapy                              603 non-null    object
 8   Adjuvant XRT                                  880 non-null    object
 9   Adrenal Met Status (Months)                   38 non-null     float64
 10  Adrenal Met Status                            882 non-null    object
 11  Age at Surgery/Biopsy                         2422 non-null   float64
 12  Bone Met Status (Months)                      117 non-null    float64
 13  Bone Met Status                               882 non-null    object
 14  Cancer Type                                   2653 non-null   object
 15  Cancer Type Detailed                          2653 non-null   object
 16  Cell Cycle                                    2422 non-null   object
 17  Tobacco History                               882 non-null    object
 18  CNS Met Status (Months)                       103 non-null    float64
 19  CNS Met Status                                882 non-null    object
 20  Clinical Stage                                861 non-null    object
 21  Death                                         766 non-null    object
 22  Ever Met to Site: Adrenal                     766 non-null    float64
 23  Ever Met to Site: Bone                        766 non-null    float64
 24  Ever Met to Site: CNS                         766 non-null    float64
 25  Ever Met to Site: Liver                       766 non-null    float64
 26  Ever Met to Site: Lymph Nodes                 766 non-null    float64
 27  Ever Met to Site: Lung                        766 non-null    float64
 28  Ever Met to Site: Pleura                      766 non-null    float64
 29  FGA                                           2422 non-null   float64
 30  Fraction Genome Altered                       2407 non-null   float64
 31  At Least 2 Years Follow Up                    766 non-null    object
 32  Gene Panel                                    2653 non-null   object
 33  Group Number                                  2422 non-null   object
 34  Had Surgery                                   880 non-null    object
 35  HIPPO Pathway                                 2422 non-null   object
 36  Samples used in Metastatic Lesion (ML) group  1552 non-null   object
 37  Group Assignment for Primary Samples          766 non-null    object
 38  Samples used in Matched Analysis (Group 5)    2422 non-null   object
 39  Institute Source                              2357 non-null   object
 40  Is WGD                                        2653 non-null   int64
 41  Liver Met Status (Months)                     42 non-null     float64
 42  Liver Met Status                              882 non-null    object
 43  LN Met Status (Months)                        143 non-null    float64
 44  LN Met Status                                 882 non-null    object
 45  Lung Met Status (Months)                      150 non-null    float64
 46  Lung Met Status                               882 non-null    object
 47  Metastatic Burden                             766 non-null    float64
 48  Metastatic Site                               1666 non-null   object
 49  Months from Matched Primary                   348 non-null    float64
 50  MSI Score                                     2348 non-null   float64
 51  MSI Type                                      2348 non-null   object
 52  Mutation Count                                2626 non-null   float64
 53  MYC Pathway                                   2422 non-null   object
 54  Neoadjuvant                                   668 non-null    object
 55  Neoadjuvant Chemotherapy                      668 non-null    object
 56  Neoadjuvant Immunotherapy                     668 non-null    object
 57  Neoadjuvant Targeted                          668 non-null    object
 58  Neoadjuvant XRT                               668 non-null    object
 59  NOTCH Pathway                                 2422 non-null   object
 60  NRF2 Pathway                                  2422 non-null   object
 61  Oncotree Code                                 2653 non-null   object
 62  Overall Survival (Months)                     882 non-null    float64
 63  Overall Survival Status                       882 non-null    object
 64  PI3K Pathway                                  2422 non-null   object
 65  Pleura Met Status (Months)                    73 non-null     float64
 66  Pleura Met Status                             740 non-null    object
 67  Ploidy                                        2653 non-null   float64
 68  Post Sample Chemotherapy                      2422 non-null   object
 69  Post Sample Immunotherapy                     2422 non-null   object
 70  Post Sample Targeted                          2422 non-null   object
 71  Post Sample Tx                                2422 non-null   object
 72  Post Sample XRT                               2422 non-null   object
 73  Pre Sample Chemotherapy                       2422 non-null   object
 74  Pre Sample Immunotherapy                      2422 non-null   object
 75  Pre Sample Targeted                           2422 non-null   object
 76  Pre Sample Tx                                 2422 non-null   object
 77  Pre Sample XRT                                2422 non-null   object
 78  Predominant Histologic Subtype                641 non-null    object
 79  Primary Tumor Site                            2422 non-null   object
 80  Pathologic Stage                              799 non-null    object
 81  Purity                                        2584 non-null   float64
 82  Race Category                                 2554 non-null   object
 83  RTK- RAS Pathway                              2422 non-null   object
 84  Sample Class                                  2422 non-null   object
 85  Number of Samples Per Patient                 2653 non-null   int64
 86  Sample coverage                               2422 non-null   float64
 87  Sample Type                                   2653 non-null   object
 88  Sex                                           2554 non-null   object
 89  Somatic Status                                2653 non-null   object
 90  TGF-Beta Pathway                              2422 non-null   object
 91  TMB (nonsynonymous)                           2653 non-null   float64
 92  TP53 Pathway                                  2422 non-null   object
 93  WNT Pathway                                   2422 non-null   object
dtypes: float64(26), int64(2), object(66)
memory usage: 1.9+ MB

In [335]:
# Seleccionar solo las columnas deseadas
all_data = all_data[['Patient ID', 'Age at Diagnosis', 'Cancer Type', 'Cancer Type Detailed', 'Mutation Count', 'Overall Survival (Months)',
                    'Overall Survival Status', 'Sex', 'Ethnicity Category', 'Race Category', 'ETHNICITY', 'GENDER', 'RACE', 'SEX',
                    'Tobacco History', 'Smoking history', 'Smoker Status', 'OS_MONTHS', 'OS_STATUS', 'AGE_CURRENT', 'Diagnosis Age', 'CANCER_TYPE',
                    'CANCER_TYPE_DETAILED', 'MUTATION_COUNT', 'Age at Which Sequencing was Reported (Years)']]

In [336]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15661 entries, 0 to 15660
Data columns (total 25 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Patient ID                                    14661 non-null  object
 1   Age at Diagnosis                              5145 non-null   float64
 2   Cancer Type                                   14656 non-null  object
 3   Cancer Type Detailed                          14656 non-null  object
 4   Mutation Count                                13688 non-null  float64
 5   Overall Survival (Months)                     8852 non-null   float64
 6   Overall Survival Status                       10133 non-null  object
 7   Sex                                           14470 non-null  object
 8   Ethnicity Category                            4336 non-null   object
 9   Race Category                                 8649 non-null   object
 10  ETHNICITY                                     938 non-null    object
 11  GENDER                                        500 non-null    object
 12  RACE                                          938 non-null    object
 13  SEX                                           500 non-null    object
 14  Tobacco History                               882 non-null    object
 15  Smoking history                               1447 non-null   object
 16  Smoker Status                                 1447 non-null   object
 17  OS_MONTHS                                     999 non-null    float64
 18  OS_STATUS                                     999 non-null    object
 19  AGE_CURRENT                                   438 non-null    float64
 20  Diagnosis Age                                 5009 non-null   float64
 21  CANCER_TYPE                                   1000 non-null   object
 22  CANCER_TYPE_DETAILED                          1000 non-null   object
 23  MUTATION_COUNT                                483 non-null    float64
 24  Age at Which Sequencing was Reported (Years)  1720 non-null   object
dtypes: float64(7), object(18)
memory usage: 3.0+ MB

In [337]:
# Duplicamos columnas para unificarlas en nuevas est√°ndar
all_data['Gender'] = all_data['Sex'].combine_first(all_data['SEX']).combine_first(all_data['GENDER'])
all_data['Ethnicity'] = all_data['Ethnicity Category'].combine_first(all_data['ETHNICITY'])
all_data['Race'] = all_data['Race Category'].combine_first(all_data['RACE'])
all_data['Cancer Type'] = all_data['Cancer Type'].combine_first(all_data['CANCER_TYPE'])
all_data['Cancer Type Detailed'] = all_data['Cancer Type Detailed'].combine_first(all_data['CANCER_TYPE_DETAILED'])
all_data['Mutation Count'] = all_data['Mutation Count'].combine_first(all_data['MUTATION_COUNT'])
all_data['Overall Survival (Months)'] = all_data['Overall Survival (Months)'].combine_first(all_data['OS_MONTHS'])
all_data['Overall Survival Status'] = all_data['Overall Survival Status'].combine_first(all_data['OS_STATUS'])

# Para Edad
all_data['Age at Diagnosis'] = all_data['Age at Diagnosis'] \
    .combine_first(all_data['Diagnosis Age']) \
    .combine_first(all_data['AGE_CURRENT']) \
    .combine_first(all_data['Age at Which Sequencing was Reported (Years)'])

# Para Tabaquismo (opcional)
all_data['Smoking Status'] = all_data['Tobacco History'] \
    .combine_first(all_data['Smoking history']) \
    .combine_first(all_data['Smoker Status'])

In [338]:
all_data = all_data[['Patient ID', 'Age at Diagnosis', 'Cancer Type', 'Cancer Type Detailed',
                     'Mutation Count', 'Overall Survival (Months)', 'Overall Survival Status',
                     'Gender', 'Ethnicity', 'Race']]

In [339]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15661 entries, 0 to 15660
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Patient ID                 14661 non-null  object
 1   Age at Diagnosis           12198 non-null  object
 2   Cancer Type                15656 non-null  object
 3   Cancer Type Detailed       15656 non-null  object
 4   Mutation Count             14171 non-null  float64
 5   Overall Survival (Months)  9851 non-null   float64
 6   Overall Survival Status    11132 non-null  object
 7   Gender                     15470 non-null  object
 8   Ethnicity                  5274 non-null   object
 9   Race                       9587 non-null   object
dtypes: float64(2), object(8)
memory usage: 1.2+ MB

**Modificamos las categorias de la variable Ethnicity y Gender para que queden compactadas y sin duplicados**

In [345]:
# Normalizar texto
all_data['Ethnicity'] = all_data['Ethnicity'].str.strip().str.lower().str.title()

# Reemplazar y agrupar valores equivalentes
ethnicity_map = {
    # Agrupar variantes de "Not Hispanic or Latino"
    'Non-Spanish; Non-Hispanic': 'Not Hispanic or Latino',
    'Not Hispanic Or Latino': 'Not Hispanic or Latino',
    'Not Hispanic Or Latino': 'Not Hispanic or Latino',
    
    # Agrupar variantes de "Hispanic or Latino"
    'Hispanic Or Latino': 'Hispanic or Latino',
    'Spanish  Nos; Hispanic Nos, Latino Nos': 'Hispanic or Latino',

    # Agrupar subcategor√≠as como parte de "Hispanic or Latino"
    'South/Central America (Except Brazil)': 'Hispanic or Latino',
    'Puerto Rican': 'Hispanic or Latino',
    'Cuban': 'Hispanic or Latino',
    'Dominican Republic': 'Hispanic or Latino',
    'Other Spanish/Hispanic(Incl European; Excl Dom Rep': 'Hispanic or Latino',
    'Mexican (Includes Chicano)': 'Hispanic or Latino',
    'Spanish Surname Only': 'Hispanic or Latino',

    # Agrupar desconocidos
    'Unknown Whether Spanish Or Not': 'Unknown',
}

# Aplicar el mapeo
all_data['Ethnicity'] = all_data['Ethnicity'].replace(ethnicity_map)

In [346]:
# Normalizar texto
all_data['Gender'] = all_data['Gender'].str.strip().str.lower().str.title()

# Reemplazar equivalencias (si lo necesitas expl√≠cito)
gender_map = {
    'Female': 'Female',
    'FEMALE': 'Female',
    'Male': 'Male',
    'MALE': 'Male',
    'Unknown': 'Unknown'
}
# En realidad, con el str.title() ya es suficiente, pero por si acaso:
all_data['Gender'] = all_data['Gender'].replace(gender_map)

# Filtrar el DataFrame para excluir registros con 'Unknown' en Gender
all_data = all_data[all_data['Gender'] != 'Unknown']

In [347]:
all_data['Overall Survival Status'].value_counts()

Overall Survival Status
0:LIVING      7106
1:DECEASED    4026
Name: count, dtype: int64

**La variable Overall Survival Status dictamina la supervivencia del paciente. Los registros de los culaes no tengamos informaci√≥n de la supervivencia habr√° que eliminarlos ya que es la variable que nos da la informaci√≥n de si el paciente sali√≥ con vida del c√°ncer o si muri√≥**

In [348]:
# Eliminar registros con NaN en 'Overall Survival Status'
all_data = all_data.dropna(subset=['Overall Survival Status'])

In [349]:
# Eliminar registros con valores nulos en la columna 'Cancer Type'
all_data = all_data.dropna(subset=['Cancer Type'])

In [350]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11131 entries, 0 to 15644
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Patient ID                 10132 non-null  object
 1   Age at Diagnosis           9648 non-null   object
 2   Cancer Type                11131 non-null  object
 3   Cancer Type Detailed       11131 non-null  object
 4   Mutation Count             9781 non-null   float64
 5   Overall Survival (Months)  9830 non-null   float64
 6   Overall Survival Status    11131 non-null  object
 7   Gender                     11129 non-null  object
 8   Ethnicity                  3917 non-null   object
 9   Race                       6189 non-null   object
dtypes: float64(2), object(8)
memory usage: 956.6+ KB

In [351]:
all_data['Cancer Type'].value_counts()

Cancer Type
Breast Cancer                 4659
Colorectal Cancer             3556
Non-Small Cell Lung Cancer    2835
Colon Adenocarcinoma            19
Rectal Adenocarcinoma           14
Cancer of Unknown Primary       13
Colorectal Adenocarcinoma       11
Small Bowel Cancer              11
Breast Cancer, NOS               7
Breast Sarcoma                   2
Small Cell Lung Cancer           2
Skin Cancer, Non-Melanoma        1
Miscellaneous Brain Tumor        1
Name: count, dtype: int64

In [354]:
# Agrupar los registros en tres categor√≠as: Breast Cancer, Colorectal Cancer, Lung Cancer
all_data['Cancer Type'] = all_data['Cancer Type'].replace({
    'Breast Cancer': 'Breast Cancer',
    'Breast Cancer, NOS': 'Breast Cancer',
    'Breast Sarcoma': 'Breast Cancer',
    'Colorectal Cancer': 'Colorectal Cancer',
    'Colorectal Adenocarcinoma': 'Colorectal Cancer',
    'Small Bowel Cancer': 'Colorectal Cancer',
    'Rectal Adenocarcinoma': 'Colorectal Cancer',
    'Colon Adenocarcinoma': 'Colorectal Cancer',
    'Non-Small Cell Lung Cancer': 'Lung Cancer',
    'Small Cell Lung Cancer': 'Lung Cancer'
})

# Filtrar el DataFrame para excluir registros con 'Skin Cancer, Non-Melanoma', 'Cancer of Unknown Primary'
all_data = all_data[all_data['Cancer Type'] != 'Skin Cancer, Non-Melanoma']
all_data = all_data[all_data['Cancer Type'] != 'Cancer of Unknown Primary']
all_data = all_data[all_data['Cancer Type'] != 'Miscellaneous Brain Tumor']

# Verificar los resultados
print(all_data['Cancer Type'].value_counts())

Cancer Type
Breast Cancer        4668
Colorectal Cancer    3611
Lung Cancer          2837
Name: count, dtype: int64

In [355]:
all_data['Overall Survival Status'].value_counts()

Overall Survival Status
0:LIVING      7099
1:DECEASED    4017
Name: count, dtype: int64

In [356]:
all_data['Overall Survival Status'] = all_data['Overall Survival Status'].map({
    '0:LIVING': 0,
    '1:DECEASED': 1
})

In [357]:
all_data['Race'].value_counts()

Race
WHITE                               2691
White                               2132
BLACK OR AFRICAN AMERICAN            361
Black or African American            285
ASIAN-FAR EAST/INDIAN SUBCONT        204
Asian                                196
UNKNOWN_OTHER                         74
ASIAN                                 73
Black                                 39
PT REFUSED TO ANSWER                  39
Other                                 29
Unknown                               20
OTHER                                 10
I choose not to answer                 6
Asian-Far East/Indian Subcont          6
Chinese                                2
UNKNOWN                                2
American Indian or Alaska Native       2
AMERICAN INDIAN OR ALASKA NATIVE       2
NATIVE AMERICAN-AM IND/ALASKA          1
Name: count, dtype: int64

In [358]:
all_data['Race'] = all_data['Race'].str.lower().str.strip()

In [361]:
all_data['Race'] = all_data['Race'].replace({
    'white': 'White',
    'black or african american': 'Black or African American',
    'black': 'Black or African American',
    'asian': 'Asian',
    'asian-far east/indian subcont': 'Asian',
    'asian far east/indian subcont': 'Asian',
    'chinese': 'Asian',
    'american indian or alaska native': 'Other',
    'native american-am ind/alaska': 'Other',
    'unknown': 'Unknown',
    'unknown_other': 'Unknown',
    'other': 'Other'
})

In [362]:
all_data['Race'].value_counts()

Race
White                        4823
Black or African American     685
Asian                         481
Unknown                        96
Other                          44
pt refused to answer           39
i choose not to answer          6
Name: count, dtype: int64

In [363]:
all_data = all_data[all_data['Race'] != 'Unknown']
all_data = all_data[all_data['Race'] != 'pt refused to answer']
all_data = all_data[all_data['Race'] != 'i choose not to answer']

In [364]:
all_data['Race'].value_counts()

Race
White                        4823
Black or African American     685
Asian                         481
Other                          44
Name: count, dtype: int64

In [365]:
all_data.head()

,Patient ID,Age at Diagnosis,Cancer Type,Cancer Type Detailed,Mutation Count,Overall Survival (Months),Overall Survival Status,Gender,Ethnicity,Race
0,MB-0000,75.65,Breast Cancer,Breast Invasive Ductal Carcinoma,NaN,140.500000,0,Female,NaN,NaN
1,MB-0002,43.19,Breast Cancer,Breast Invasive Ductal Carcinoma,2.0,84.633333,0,Female,NaN,NaN
2,MB-0005,48.87,Breast Cancer,Breast Invasive Ductal Carcinoma,2.0,163.700000,1,Female,NaN,NaN
3,MB-0006,47.68,Breast Cancer,Breast Mixed Ductal and Lobular Carcinoma,1.0,164.933333,0,Female,NaN,NaN
4,MB-0008,76.97,Breast Cancer,Breast Mixed Ductal and Lobular Carcinoma,2.0,41.366667,1,Female,NaN,NaN

In [366]:
all_data['Ethnicity'].value_counts()

Ethnicity
Not Hispanic or Latino    3692
Hispanic or Latino         127
Unknown                     37
Name: count, dtype: int64

In [367]:
all_data = all_data[all_data['Ethnicity'] != 'Unknown']

In [369]:
all_data_cleaned = all_data.dropna(subset=['Overall Survival (Months)', 'Overall Survival Status'])

In [370]:
# Guardar el DataFrame en un archivo CSV
all_data_cleaned.to_csv('Datos_todos_registros_con_meses.csv', index=False)

In [371]:
# Guardar el DataFrame en un archivo CSV
all_data.to_csv('Datos_con_valores_smoking.csv', index=False)